.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* my css */
html{
  background-color:white;
}
body {
  padding: 30px;
  width: 80%;
  margin: auto;
  background-color: lightgray;
  min-height: 100vh;
}
nav{
  height:80px;
}
h1{
  text-align:center;
}
a{
  color:black;
  cursor:pointer;
}
a:hover{
  color:white;
}

input,select {
  padding: 8px;
}

p {
  font-size: 16px;
}

input[type=button], input[type=submit], select {
  width: 80px;
}

.custom-width {
  width: 160px !important;
  height: 40px;
}

.header-table {
  align-items: center;
  padding: unset;
  height: 44px;
  font-weight: 700;
  border-bottom: solid black 1px;
}

form {
  padding: 0px;
}

.data {
  width: 80%;
}
select {
  width: 197px;
  height: 44px;
}
.multiple-select{
  height:auto;
}
.display-language{
  display:flex;
  flex-direction:row;
}

/* span which have put-komma class and me-1 class*/
span.put-komma.me-1:last-child { 
display:none;
}
